<h1>Test FileUploader</h1>

<form method="post" enctype="multipart/form-data" action="<%= api_images_path %>">
  File: <input type="file" name="image"><br>
  Namespace: <input type="text" name="namespace" value="test"><br>

  <input type="submit">
</form>
