# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 033d9b408924e30217d91ee85af577135dc87ae34b050dd23606e5311f287aa8fc8615f8ca26cd5578f30de03fdb361085362eec873f13021f4956036e5922fc

test:
  secret_key_base: ${SECRET_KEY_BASE}

# Do not keep production secrets in the repository,
# instead read values from the environment.
pre_production:
  secret_key_base: ${SECRET_KEY_BASE}

production:
  secret_key_base: ${SECRET_KEY_BASE}
