<html>
<head>
</head>

<h1>Test FileUploader</h1>

<form method="post" enctype="multipart/form-data" action="image">
  File: <input type="file" name="image"><br>
  Namespace: <input type="text" name="namespace"><br>

  <input type="submit">
</form>

</html>
